# Node / NPM / Yarn / PNPM
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist
.nuxt
.output
.ssg

# Local env files (оставь если нужны при docker build)
.env
.env.local
.env.*.local

# Editor / OS files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Docker / Git
.dockerignore
.git
.gitignore
.gitlab-ci.yml
